<div class="page-wrap">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Votre PlayList Spotify</h1>
            </div>
            <div id="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <%= name %>
                                </div>
                                <div class="panel-body">
                                    <ul id="listTracks" class="list-unstyled">
                                        <% if (playlists.length > 0) { %>
                                            <% for(var i=0; i<playlists.length; i++) {%>
                                                <li id="track<%= i %>">
                                                    <div class="pull-right">
                                                        <button class="btn btn-danger delete" data-id="<%= playlists[i].track.id %>" data-position="<%= i %>">Supprimer</button>
                                                    </div>
                                                    <h2><%= playlists[i].track.name %></h2>
                                                    <p>
                                                        <% playlists[i].track.artists.forEach(function(artist) { %>
                                                            <%= artist.name %>
                                                        <% }); %>
                                                        . <%= playlists[i].track.album.name %>
                                                    </p>
                                                </li>
                                            <% } %>
                                        <% } else { %>
                                            <div class="alert alert-info">
                                                <strong>Information</strong><br>
                                                Il n'y a aucun morceau dans cette playlist
                                            </div>
                                        <% }; %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Ajouter un morceau
                                </div>
                                <div class="panel-body">
                                    <input id="track" class="form-control" type="text" /><br />
                                    <button id="search" class="btn btn-primary">Rechercher</button>
                                    <div class="row" id="response">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var socket = io.connect('<%= socketHost  %>');
$(document).ready(function() {
    initEvents();

    socket.on('trackfound', function(datas) {
        $('#response').html("");
        console.log(datas.tracks.items);
        var tracks = datas.tracks.items;
        tracks.forEach(function(track) {
            var name = track.name;
            if(name.length > 20) name = name.substring(0,20);
            var artist = track.artists[0].name;
            if(artist.length > 30) artist = artist.substring(0,30);
            var album = track.album.name;
            if(album.length > 30) album = album.substring(0,30);

            $('#response').append(
                '<div class="col-md-6">' +
                    '<figure class="snip1174 navy col-md-4">' +
                        '<img src="' + track.album.images[0].url + '"/>' +
                        '<figcaption>' +
                            '<h2>' + name + '</h2>' +
                            '<p>' +
                                artist + " . " + album +
                            '</p>' +
                            '<button class="addTrack" data-id="'+ track.id +'">Ajouter</button>' +
                        '</figcaption>' +
                    '</figure>' +
                '</div>'
            )
        })
        $(".addTrack").on('click', function() {
            var trackId = $(this).data('id');
            socket.emit('addtrack', {trackId: trackId, id_spotify: "<%= id_spotify %>", spotify_token : "<%= spotify_token %>", idPlaylist: "<%= idPlaylist %>" });
        })
    })
    socket.on('added', function(datas) {
        if(!datas.error) {
            if($(".alert") !== null) {
                $(".alert").hide();
            }
            var position = $('#listTracks li').length;
            initEvents();
            $("#listTracks").append('<li><div class="pull-right"><button class="btn btn-danger delete" data-id="'+ datas.id +'" data-position="'+ position +'">Supprimer</button></div><h2>'+ datas.name +'</h2><p>'+ datas.artists[0].name +' . '+ datas.album.name +' </p></li>')
        }
    })
    socket.on('deleted', function(datas) {
        if(datas !== null) {
            $("#track"+datas).remove();
        }
    })
})
function initEvents() {
    $("#search").on("click",function() {
        var title = "";
        if($("#track").val() !== '') {
            title = $("#track").val();
            socket.emit('searchtrack', {title: title, id_spotify: "<%= id_spotify %>", spotify_token : "<%= spotify_token %>", idPlaylist: "<%= idPlaylist %>" });
        }
    })
    $(".delete").on("click",function() {
        var id = $(this).data('id');
        var position = $(this).data('position');
        socket.emit('deletetrack', {id: id, position: position, id_spotify: "<%= id_spotify %>", spotify_token : "<%= spotify_token %>", idPlaylist: "<%= idPlaylist %>" });
    })
}
</script>
